body
{
background-color: grey;


}

#fond
{

	width: 1500px;
	margin:0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}

#enfant{

	background-image: url(enfant_temps.jpg);
	background-repeat: no-repeat;
	background-position: center;
	

